logs
target
node_modules
*.log

public/styles/index.css
public/bundle.js
public/bundle.js.LICENSE.txt

/.idea
/.idea_modules
/.classpath
/.project
/.settings
/RUNNING_PID
.bsp

/.metals
**/metals.sbt
/.vscode
/**/.bloop