@(viewerUrl: String)

@main("Viewer") {

    <header>
        <ul class="tool-bar" id="toolbar">
        </ul>
    </header>
    <ul class="viewer-orientation">
        <li class="viewer-orientation__button is-selected" data-switchPrimaryViewer="portrait">P</li>
        <li class="viewer-orientation__button" data-switchPrimaryViewer="landscape">L</li>
    </ul>
    <div class="viewers">
        <iframe data-viewerName="primary" class="viewer" src="@viewerUrl"></iframe>
        <iframe data-viewerName="secondary" class="viewer" src="@viewerUrl"></iframe>
    </div>
    <div data-enableDesktop="true">Enable Desktop</div>
}
