* {
    margin: 0;
    padding: 0;
}
.viewers {
    text-align: center;
}

.viewer {

    margin: 20px;
    vertical-align: top;

    border-radius: 20px;
    border-style: solid;
    border-color: #F0F0F0;
}

.viewer.is-mobile-portrait {
    border-width: 30px 20px 60px 20px;
}

.viewer.is-mobile-landscape {
    border-width: 20px 60px 30px 30px;
}

.viewer.is-desktop {
    position: fixed;
    top: 40px;
    left: 0;

    width:100%;
    min-width: 800px;
    height: calc(100% - 40px);

    margin: 0;
    border-width: 0;
    border-radius: 0;

}

.viewer-orientation {
    position: absolute;
    top: 20px;
    right: 10%;
}

.viewer-orientation__button {
    display: inline-block;

    cursor: pointer;
    padding: 10px 20px;

    background-color: #F0F0F0;

    border-top: 3px solid #F0F0F0;
}

.viewer-orientation__button.is-selected {
    color: #00a8ed;
    border-top: 3px solid #00a8ed;
}

.tool-bar__button {
    display: inline-block;

    cursor: pointer;
    padding: 10px 20px;

    background-color: #F0F0F0;

    border-top: 3px solid #F0F0F0;

    list-style: none;
    text-transform: capitalize;
}

.tool-bar__button.is-selected {
    color: #00a8ed;
    border-top: 3px solid #00a8ed;
}