
.viewer {
    margin: 0 auto;

    border-radius: 20px;
    border-style: solid;
    border-color: #F0F0F0;
}

.viewer.is-mobile-portrait {
    border-width: 30px 20px 60px 20px;
}

.viewer.is-mobile-landscape {
    border-width: 20px 60px 30px 30px;
}

.viewer-orientation {
    position: absolute;
    top: 20px;
    right: 10%;
}

.viewer-orientation__button {
    display: inline-block;

    cursor: pointer;
    padding: 10px 20px;

    background-color: #F0F0F0;

    border-top: 3px solid #F0F0F0;
}

.viewer-orientation__button.is-selected {
    color: #00a8ed;
    border-top: 3px solid #00a8ed;
}

