<gu-row>

  <gu-column span="6" gu-box="primary">

    <app-demo>
      <h2>Box Primary</h2>
      <app-demo-code>

        <gu-box variant="primary" skin="large">
          Content
        </gu-box>

      </app-demo-code>
    </app-demo>

  </gu-column>

  <gu-column span="6" gu-box="primary">

    <app-demo>
      <h2>Box Primary</h2>
      <app-demo-code>
        <gu-column gu-box="primary">
          Content
        </gu-column>
      </app-demo-code>
    </app-demo>

  </gu-column>


</gu-row>


<gu-row>

  <gu-column span="6" gu-box="primary">

    <app-demo>
      <h2>Box Secondary</h2>
      <app-demo-code>

        <gu-box variant="secondary" skin="large">
          Content
        </gu-box>

      </app-demo-code>
    </app-demo>

  </gu-column>

  <gu-column span="6" gu-box="primary">

    <app-demo>
      <h2>Box Secondary</h2>
      <app-demo-code>
        <gu-column gu-box="secondary">
          Content
        </gu-column>
      </app-demo-code>
    </app-demo>

  </gu-column>


</gu-row>

<gu-row>

  <gu-column span="6" gu-box="primary">

    <app-demo>
      <h2>Box Tertiary</h2>
      <app-demo-code>

        <gu-box variant="tertiary" skin="large">
          Content
        </gu-box>

      </app-demo-code>
    </app-demo>

  </gu-column>

  <gu-column span="6" gu-box="primary">

    <app-demo>
      <h2>Box Tertiary</h2>
      <app-demo-code>
        <gu-column gu-box="tertiary">
          Content
        </gu-column>
      </app-demo-code>
    </app-demo>

  </gu-column>


</gu-row>

<gu-row>
  <gu-column span="6" gu-box="primary">

    <app-demo>
      <h2>Box Quaternary</h2>
      <app-demo-code>

        <gu-box variant="quaternary" skin="large">
          Content
        </gu-box>

      </app-demo-code>
    </app-demo>

  </gu-column>

  <gu-column span="6" gu-box="primary">

    <app-demo>
      <h2>Box Quaternary</h2>
      <app-demo-code>
        <gu-column gu-box="quaternary">
          Content
        </gu-column>
      </app-demo-code>
    </app-demo>

  </gu-column>
</gu-row>

