<gu-row>

  <gu-column span="3" gu-box="primary">
    <app-demo>
      <h2>Button Small</h2>
      <app-demo-code>

        <gu-btn size="small">
          Button
        </gu-btn>

      </app-demo-code>
    </app-demo>
  </gu-column>

  <gu-column span="3" gu-box="primary">
    <app-demo>
      <h2>Button</h2>
      <app-demo-code>

        <gu-btn>
          Button
        </gu-btn>

      </app-demo-code>
    </app-demo>
  </gu-column>

  <gu-column span="3" gu-box="primary">
    <app-demo>
      <h2>Button Large</h2>
      <app-demo-code>

        <gu-btn size="large">
          Button
        </gu-btn>

      </app-demo-code>
    </app-demo>
  </gu-column>

  <gu-column span="3" gu-box="primary">
    <app-demo>
      <h2>Button Very Large</h2>
      <app-demo-code>

        <gu-btn size="very-large">
          Button
        </gu-btn>

      </app-demo-code>
    </app-demo>
  </gu-column>

</gu-row>

<gu-row>

  <gu-column span="3" gu-box="primary">
    <app-demo>
      <h2>Button Light Small</h2>
      <app-demo-code>

        <gu-btn variant="light" size="small">
          Button
        </gu-btn>

      </app-demo-code>
    </app-demo>
  </gu-column>

  <gu-column span="3" gu-box="primary">
    <app-demo>
      <h2>Button Light</h2>
      <app-demo-code>

        <gu-btn variant="light">
          Button
        </gu-btn>

      </app-demo-code>
    </app-demo>
  </gu-column>

  <gu-column span="3" gu-box="primary">
    <app-demo>
      <h2>Button Light Large</h2>
      <app-demo-code>

        <gu-btn size="large" variant="light">
          Button
        </gu-btn>

      </app-demo-code>
    </app-demo>
  </gu-column>

  <gu-column span="3" gu-box="primary">
    <app-demo>
      <h2>Button Very Large</h2>
      <app-demo-code>

        <gu-btn size="very-large">
          Button
        </gu-btn>

      </app-demo-code>
    </app-demo>
  </gu-column>

</gu-row>

<gu-row>

  <gu-column span="3" gu-box="primary">
    <app-demo>
      <h2>Button Active Small</h2>
      <app-demo-code>

        <gu-btn variant="active" size="small">
          Button
        </gu-btn>

      </app-demo-code>
    </app-demo>
  </gu-column>

  <gu-column span="3" gu-box="primary">
    <app-demo>
      <h2>Button Active</h2>
      <app-demo-code>

        <gu-btn variant="active">
          Button
        </gu-btn>

      </app-demo-code>
    </app-demo>
  </gu-column>

  <gu-column span="3" gu-box="primary">
    <app-demo>
      <h2>Button Active Large</h2>
      <app-demo-code>

        <gu-btn variant="active" size="large">
          Button
        </gu-btn>

      </app-demo-code>
    </app-demo>
  </gu-column>

  <gu-column span="3" gu-box="primary">
    <app-demo>
      <h2>Button Active Very Large</h2>
      <app-demo-code>

        <gu-btn variant="active" size="very-large">
          Button
        </gu-btn>

      </app-demo-code>
    </app-demo>
  </gu-column>

</gu-row>

<gu-row>

  <gu-column span="3" gu-box="primary">
    <app-demo>
      <h2>Button Danger Small</h2>
      <app-demo-code>

        <gu-btn variant="danger" size="small">
          Button
        </gu-btn>

      </app-demo-code>
    </app-demo>
  </gu-column>

  <gu-column span="3" gu-box="primary">
    <app-demo>
      <h2>Button Danger</h2>
      <app-demo-code>

        <gu-btn variant="danger">
          Button
        </gu-btn>

      </app-demo-code>
    </app-demo>
  </gu-column>

  <gu-column span="3" gu-box="primary">
    <app-demo>
      <h2>Button Danger Large</h2>
      <app-demo-code>

        <gu-btn variant="danger" size="large">
          Button
        </gu-btn>

      </app-demo-code>
    </app-demo>
  </gu-column>

  <gu-column span="3" gu-box="primary">
    <app-demo>
      <h2>Button Danger Very Large</h2>
      <app-demo-code>

        <gu-btn variant="danger" size="very-large">
          Button
        </gu-btn>

      </app-demo-code>
    </app-demo>
  </gu-column>

</gu-row>

<gu-row>

  <gu-column span="3" gu-box="primary">
    <app-demo>
      <h2>Button Mortal Danger Small</h2>
      <app-demo-code>

        <gu-btn variant="mortal-danger" size="small">
          Button
        </gu-btn>

      </app-demo-code>
    </app-demo>
  </gu-column>

  <gu-column span="3" gu-box="primary">
    <app-demo>
      <h2>Button Mortal Danger</h2>
      <app-demo-code>

        <gu-btn variant="mortal-danger">
          Button
        </gu-btn>

      </app-demo-code>
    </app-demo>
  </gu-column>

  <gu-column span="3" gu-box="primary">
    <app-demo>
      <h2>Button Mortal Danger Large</h2>
      <app-demo-code>

        <gu-btn variant="mortal-danger" size="large">
          Button
        </gu-btn>

      </app-demo-code>
    </app-demo>
  </gu-column>

  <gu-column span="3" gu-box="primary">
    <app-demo>
      <h2>Button Mortal Danger Very Large</h2>
      <app-demo-code>

        <gu-btn variant="mortal-danger" size="very-large">
          Button
        </gu-btn>

      </app-demo-code>
    </app-demo>
  </gu-column>

</gu-row>

<gu-row>

  <gu-column span="3" gu-box="primary">
    <app-demo>
      <h2>Button Arrow Right</h2>
      <app-demo-code>

        <gu-btn variant="arrow-right" size="small">
          Button
        </gu-btn>

      </app-demo-code>
    </app-demo>
  </gu-column>

  <gu-column span="3" gu-box="primary">
    <app-demo>
      <h2>Button Arrow Right</h2>
      <app-demo-code>

        <gu-btn variant="arrow-right">
          Button
        </gu-btn>

      </app-demo-code>
    </app-demo>
  </gu-column>

  <gu-column span="3" gu-box="primary">
    <app-demo>
      <h2>Button Arrow Right</h2>
      <app-demo-code>

        <gu-btn variant="arrow-right" size="large">
          Button
        </gu-btn>

      </app-demo-code>
    </app-demo>
  </gu-column>

  <gu-column span="3" gu-box="primary">
    <app-demo>
      <h2>Button Arrow Right</h2>
      <app-demo-code>

        <gu-btn variant="arrow-right" size="very-large">
          Button
        </gu-btn>

      </app-demo-code>
    </app-demo>
  </gu-column>

</gu-row>

