<gu-row>

  <gu-column span="4" gu-box="primary">

    <app-demo>
      <h2>Dropdown</h2>
    </app-demo>
    <app-demo-code>

      <gu-dropdown>
        <gu-dropdown-trigger>click me</gu-dropdown-trigger>
        <gu-dropdown-item>Item 1</gu-dropdown-item>
        <gu-dropdown-item>Item 1</gu-dropdown-item>
        <gu-dropdown-item>Item 1</gu-dropdown-item>
      </gu-dropdown>

    </app-demo-code>

  </gu-column>

  <gu-column span="4" gu-box="primary">
    <app-demo>
      <h2>Open Dropdown</h2>
      <app-demo-code>

        <gu-dropdown state="open">
          <gu-dropdown-trigger>Click me</gu-dropdown-trigger>
          <gu-dropdown-item>Content 1</gu-dropdown-item>
          <gu-dropdown-item>Content 1</gu-dropdown-item>
          <gu-dropdown-item>Content 1</gu-dropdown-item>
        </gu-dropdown>

      </app-demo-code>
    </app-demo>
  </gu-column>

  <gu-column span="4" gu-box="primary">
    <app-demo>
      <h2>Dropdown with Icon</h2>
      <app-demo-code>

        <gu-dropdown>
          <gu-dropdown-trigger icon="publish-active">Click me</gu-dropdown-trigger>
          <gu-dropdown-item>Content 1</gu-dropdown-item>
          <gu-dropdown-item>Content 1</gu-dropdown-item>
          <gu-dropdown-item>Content 1</gu-dropdown-item>
        </gu-dropdown>

      </app-demo-code>
    </app-demo>
  </gu-column>

</gu-row>
