<gu-row>

  <gu-column span="12" gu-box="primary">
    <app-demo>
      <h2>1 Column</h2>
    </app-demo>
    <app-demo-code>
      <gu-row variant="primary" skin="large">
        <gu-column gu-box="tertiary" span="1">
          1
        </gu-column>
      </gu-row>
    </app-demo-code>
  </gu-column>

  <gu-column span="12" gu-box="primary">
    <app-demo>
      <h2>2 Column</h2>
      <app-demo-code>
        <gu-row>
          <gu-column span="2" gu-box="tertiary">
            2
          </gu-column>
        </gu-row>
      </app-demo-code>
    </app-demo>
  </gu-column>

  <gu-column span="12" gu-box="primary">
    <app-demo>
      <h2>3 Column</h2>
      <app-demo-code>
        <gu-row>
          <gu-column span="3" gu-box="tertiary">
            3
          </gu-column>
        </gu-row>
      </app-demo-code>
    </app-demo>
  </gu-column>

  <gu-column span="12" gu-box="primary">
    <app-demo>
      <h2>4 Column</h2>
      <app-demo-code>
        <gu-row>
          <gu-column span="4" gu-box="tertiary">
            4
          </gu-column>
        </gu-row>
      </app-demo-code>
    </app-demo>
  </gu-column>

  <gu-column span="12" gu-box="primary">
    <app-demo>
      <h2>5 Column</h2>
      <app-demo-code>
        <gu-row>
          <gu-column span="5" gu-box="tertiary">
            5
          </gu-column>
        </gu-row>
      </app-demo-code>
    </app-demo>
  </gu-column>

  <gu-column span="12" gu-box="primary">
    <app-demo>
      <h2>6 Column</h2>
      <app-demo-code>
        <gu-row>
          <gu-column span="6" gu-box="tertiary">
            6
          </gu-column>
        </gu-row>
      </app-demo-code>
    </app-demo>
  </gu-column>

  <gu-column span="12" gu-box="primary">
    <app-demo>
      <h2>7 Column</h2>
      <app-demo-code>
        <gu-row>
          <gu-column span="7" gu-box="tertiary">
            7
          </gu-column>
        </gu-row>
      </app-demo-code>
    </app-demo>
  </gu-column>

  <gu-column span="12" gu-box="primary">
    <app-demo>
      <h2>8 Column</h2>
      <app-demo-code>
        <gu-row>
          <gu-column span="8" gu-box="tertiary">
            8
          </gu-column>
        </gu-row>
      </app-demo-code>
    </app-demo>
  </gu-column>

  <gu-column span="12" gu-box="primary">
    <app-demo>
      <h2>9 Column</h2>
      <app-demo-code>
        <gu-row>
          <gu-column span="9" gu-box="tertiary">
            9
          </gu-column>
        </gu-row>
      </app-demo-code>
    </app-demo>
  </gu-column>

  <gu-column span="12" gu-box="primary">
    <app-demo>
      <h2>10 Column</h2>
      <app-demo-code>
        <gu-row>
          <gu-column span="10" gu-box="tertiary">
            10
          </gu-column>
        </gu-row>
      </app-demo-code>
    </app-demo>
  </gu-column>

  <gu-column span="12" gu-box="primary">
    <app-demo>
      <h2>11 Column</h2>
      <app-demo-code>
        <gu-row>
          <gu-column span="11" gu-box="tertiary">
            1
          </gu-column>
        </gu-row>
      </app-demo-code>
    </app-demo>
  </gu-column>

  <gu-column span="12" gu-box="primary">
    <app-demo>
      <h2>12 Column</h2>
      <app-demo-code>
        <gu-row>
          <gu-column span="12" gu-box="tertiary">
            12
          </gu-column>
        </gu-row>
      </app-demo-code>
    </app-demo>
  </gu-column>

</gu-row>

<gu-row>
  <gu-column span="12" gu-box="primary">
    <app-demo>
      <h2>Row Reverse (1 col)</h2>
      <app-demo-code>
        <gu-row variant="reverse">
          <gu-column span="1" gu-box="tertiary">
            1
          </gu-column>
        </gu-row>
      </app-demo-code>
    </app-demo>
  </gu-column>

</gu-row>

</gu-row>
