<gu-row>

  <gu-column span="12" gu-box="primary">
    <app-demo>
      <h2>Clock active icon</h2>
      <app-demo-code>
        <gu-icon variant="clock-active"></gu-icon>
      </app-demo-code>
    </app-demo>
  </gu-column>

  <gu-column span="12" gu-box="primary">
    <app-demo>
      <h2>Clock disabled icon</h2>
      <app-demo-code>
        <gu-icon variant="clock-disabled"></gu-icon>
      </app-demo-code>
    </app-demo>
  </gu-column>

  <gu-column span="12" gu-box="primary">
    <app-demo>
      <h2>Info active icon</h2>
      <app-demo-code>
        <gu-icon variant="info-active"></gu-icon>
      </app-demo-code>
    </app-demo>
  </gu-column>

  <gu-column span="12" gu-box="primary">
    <app-demo>
      <h2>Info disabled icon</h2>
      <app-demo-code>
        <gu-icon variant="info-disabled"></gu-icon>
      </app-demo-code>
    </app-demo>
  </gu-column>



</gu-row>

