<gu-row>

  <gu-column span="6" gu-box="primary">

    <app-demo>
      <h2>Status</h2>
      <app-demo-code>

          <gu-status>
            Status
          </gu-status>

      </app-demo-code>
    </app-demo>

  </gu-column>

  <gu-column span="6" gu-box="primary">

    <app-demo>
      <h2>Status Light</h2>
      <app-demo-code>

          <gu-status skin="light">
            Status
          </gu-status>

      </app-demo-code>
    </app-demo>

  </gu-column>

</gu-row>

<gu-row>

  <gu-column span="6" gu-box="primary">

    <app-demo>
      <h2>Status Draft</h2>
      <app-demo-code>

          <gu-status variant="draft">
            Status
          </gu-status>

      </app-demo-code>
    </app-demo>

  </gu-column>

  <gu-column span="6" gu-box="primary">

    <app-demo>
      <h2>Status Draft Light</h2>
      <app-demo-code>

          <gu-status variant="draft" skin="light">
            Status
          </gu-status>

      </app-demo-code>
    </app-demo>

  </gu-column>

</gu-row>

<gu-row>

  <gu-column span="6" gu-box="primary">

    <app-demo>
      <h2>Status Error</h2>
      <app-demo-code>

          <gu-status variant="error">
            Status
          </gu-status>

      </app-demo-code>
    </app-demo>

  </gu-column>

  <gu-column span="6" gu-box="primary">

    <app-demo>
      <h2>Status Error Light</h2>
      <app-demo-code>

          <gu-status variant="error" skin="light">
            Status
          </gu-status>

      </app-demo-code>
    </app-demo>

  </gu-column>

</gu-row>

<gu-row>

  <gu-column span="6" gu-box="primary">

    <app-demo>
      <h2>Status Complete</h2>
      <app-demo-code>

          <gu-status variant="complete">
            Status
          </gu-status>

      </app-demo-code>
    </app-demo>

  </gu-column>

  <gu-column span="6" gu-box="primary">

    <app-demo>
      <h2>Status Complete Light</h2>
      <app-demo-code>

          <gu-status variant="complete" skin="light">
            Status
          </gu-status>

      </app-demo-code>
    </app-demo>

  </gu-column>

</gu-row>

<gu-row>

  <gu-column span="6" gu-box="primary">

    <app-demo>
      <h2>Status Active</h2>
      <app-demo-code>

          <gu-status variant="active">
            Status
          </gu-status>

      </app-demo-code>
    </app-demo>

  </gu-column>

  <gu-column span="6" gu-box="primary">

    <app-demo>
      <h2>Status Active Light</h2>
      <app-demo-code>

          <gu-status variant="active" skin="light">
            Status
          </gu-status>

      </app-demo-code>
    </app-demo>

  </gu-column>

</gu-row>
