@import "palette.scss";
@import "skins/light.scss";

@mixin status($type) {

  display       : inline-block;
  padding       : 7px 10px;
  border-radius : 25px;
  text-align    : center;

  &[skin=light] {
    color: $_light-status-alt-color;
  }

  @if $type == 'default' {
    //in composer this is $color-650-grey
    //but this doesn't look right
    background-color: $status-default;
  }

  @else if $type == 'draft' {
    background-color: $status-draft;
  }
  @else if $type == 'error' {
    background-color: $status-error;
  }
  @else if $type == 'complete' {
    background-color: $status-complete;
  }
  @else if $type == 'active' {
    background-color: $status-active;
  }

}
