* {
    margin: 0;
    padding: 0;
}


.content {
    flex-grow: 1;
    position: relative;
}

@import './variables/_palette';
@import './variables/_typography';
@import './variables/_icons';

@import './components/_buttons';
@import './components/_viewer';
@import './components/_header';
@import './components/_orientation';
@import './components/_overlay';


html {
    font-size: 10px;
    height: 100%;
}
body {
    height: 100%;
    display: flex;
    flex-direction: column;
    @extend %f-data;
    @extend %fs-data-4;
}
