@import "skins/header.scss";

@mixin row ($flex-direction: row) {
  display: flex;
  flex-direction: $flex-direction;
  flex-wrap: wrap;

  &[skin=header] {
    border: 1px solid $_header-row-border-color;
    border-top: none;
  }
}
