.viewers {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.viewer {
    &.is-mobile-portrait, &.is-mobile-landscape {
        border-width: 20px;
        border-radius: 20px;
        border-style: solid;
        border-color: #F0F0F0;
        margin: 20px;
        flex-shrink: 0;
    }

    &.is-mobile-portrait {
        width: 335px;
        height: 568px;
    }

    &.is-mobile-landscape {
        width: 568px;
        height: 320px;
    }

    &.is-social-share {
        width: 1024px;
        margin: 20px;
    }

    &.is-desktop {
        position: relative;
        max-width: 1300px;

        iframe {
            width: 100%;
            height: 100%;
            max-width: 1300px;
            position: absolute;
        }
    }

    &.is-desktop,
    &.is-reader {
        flex-grow: 1;
    }

    &.is-desktop iframe,
    &.is-reader,
    &.is-social-share {
        border: none;
    }

    &.is-desktop,
    &.is-reader,
    &.is-social-share {
        height: 100%;
    }

    &.is-animated {
        transition: 0.5s all;
    }
}

.is-desktop__overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0,0,0,0.5);
    backdrop-filter: blur(20px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 12px;
    padding: 64px;

    p {
        color: #fff;
        font-size: 24px;
        text-align: center;
    }

    button {
        border: none;
        font-weight: 600;
        padding: 18px 24px;
        border-radius: 50vh;
        background: #fff;
        font-size: 18px;
        cursor: pointer;
        box-shadow: 0 4px 4px #333;

        &:active {
            box-shadow: none;
            transform: translateY(4px);
        }
    }
}
