.viewers {
    display: flex;
    align-items: center;
}

.viewer {
    &.is-mobile-portrait, &.is-mobile-landscape {
        border-width: 20px;
        border-radius: 20px;
        border-style: solid;
        border-color: #F0F0F0;
        margin: 20px;
        flex-shrink: 0;
    }

    &.is-mobile-portrait {
        width: 335px;
        height: 568px;
    }

    &.is-mobile-landscape {
        width: 568px;
        height: 320px;
    }

    &.is-social-share {
        width: 1024px;
        height: 768px;
        border-radius: 0px;
        border-width: 0px;
    }

    &.is-desktop,
    &.is-reader {
        min-width: 800px;
        height: calc(100vh - 50px);
        flex-grow: 1;
    }

    &.is-desktop,
    &.is-reader,
    &.is-social-share {
        border: none;
    }

    &.is-animated {
        transition: 0.5s all;
    }
}
