.viewers {
    display: flex;
    justify-content: left;
    height: 100%;
    gap: 60px;
    max-width: 1300px;
    margin: 0 auto;

    // TODO: this is a hack to get feedback from users, change the actual markup if the response is positive
    flex-direction: row-reverse;
}

.viewer {
    &.is-mobile-portrait,
    &.is-mobile-landscape {
        margin: 0 auto;
    }

    &.is-mobile-portrait {
        width: 335px;
        height: 100%;
    }

    &.is-mobile-landscape {
        width: 568px;
        height: 100%;
    }

    &.is-social-share {
        width: 1024px;
        margin: 20px;
    }

    &.is-desktop {
        position: relative;
        width: 740px;

        iframe {
            width: 100%;
            height: 100%;
            position: absolute;
        }

        &--standalone {
            width: 100%;
        }
    }

    &.is-mobile-portrait,
    &.is-mobile-landscape,
    &.is-desktop iframe,
    &.is-reader,
    &.is-social-share {
        border: none;
    }

    &.is-desktop,
    &.is-reader,
    &.is-social-share {
        height: 100%;
    }

    &.is-animated {
        transition: 0.5s all;
    }
}

.is-desktop__overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0,0,0,0.5);
    backdrop-filter: blur(20px);
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: center;
    gap: 12px;
    padding: 64px;

    p {
        color: #fff;
        font-size: 24px;
        text-align: center;
    }

    button {
        border: none;
        font-weight: 600;
        padding: 18px 24px;
        border-radius: 50vh;
        background: #fff;
        font-size: 18px;
        cursor: pointer;
        box-shadow: 0 4px 4px #333;

        &:active {
            box-shadow: none;
            transform: translateY(4px);
        }
    }
}
